/*
Merlin - Responsive One Page Template
Version: 1.0
By: Hasan Alibegic, hasan461@gmail.com
License: Apache License v2.0

Modified by Dorian Monnier, dorian.monnier@gmail.com
*/

html {
    font-size: 14px;
}

body {
    font-family: 'Quicksand', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    letter-spacing: -.02rem;
}

*,
*:focus {
    outline: none !important;
}

a {
    color: rgb(45, 45, 45);
    cursor: pointer;
}

a:hover,
a:focus {
    color: rgb(12, 134, 182);
    text-decoration: none;
}

.hiding {
    opacity: 0;
}

.showing {
    opacity: 1;
}

.loader {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4rem;
    height: 4rem;
    margin: -2rem 0 0 -2rem;
    text-indent: -9999rem;
    border-radius: 50%;
    background: rgb(35, 59, 111);
    background: -moz-linear-gradient(left, rgb(35, 59, 111) 10%, rgba(35,59,111, 0) 42%);
    background: -webkit-linear-gradient(left, rgb(35, 59, 111) 10%, rgba(35,59,111, 0) 42%);
    background: -o-linear-gradient(left, rgb(35, 59, 111) 10%, rgba(35,59,111, 0) 42%);
    background: -ms-linear-gradient(left, rgb(35, 59, 111) 10%, rgba(35,59,111, 0) 42%);
    background: linear-gradient(to right, rgb(35, 59, 111) 10%, rgba(35,59,111, 0) 42%);
    -webkit-animation: loading 1s infinite linear;
    animation: loading 1s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loading:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    content: "";
    background: rgb(35, 59, 111);
    border-radius: 100% 0 0 0;
}

.loading:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 94%;
    height: 94%;
    content: "";
    background: rgb(255, 255, 255);
    border-radius: 50%;
}

.navbar-light {
    margin-bottom: 0;
    background: rgb(255, 255, 255);
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .2);
}

.navbar-light .navbar-brand {
    font-weight: bold;
    color: rgb(102, 102, 102);
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .active > .nav-link:hover,
.navbar-light .navbar-nav .active > .nav-link:focus {
    color: rgb(209, 185, 17);
    background: transparent;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}

.navbar-light.fixed {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    border-bottom-color: transparent;
}

.page {
    position: relative;
    overflow: hidden;
}

.page .content {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.page .content.cover {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.page .border {
    width: 6rem;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(209, 185, 17);
}

.page.overlay:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(255, 255, 255, 0.75);
}

.page.overlay .content {
    position: relative;
    z-index: 1;
}

#home {
    padding: 0;
    color: rgb(92, 147, 188);
    background-image: url(../img/cover/pattern-2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#home h1 {
    font-size: 7rem;
    line-height: 1;
}

.fa-pencil-alt {
    color: rgb(51, 51, 51);
}

.fa-lightbulb {
    color: rgb(209, 185, 17);
}

.fa-comments {
    color: rgb(92, 147, 188);
}


#experiences {
    background: rgb(92, 147, 188);
}

#experiences h3 {
    color: rgb(209, 185, 17);
}

#experiences .heading .border {
    background: rgb(255, 255, 255);
}

#experiences {
    color: rgb(255, 255, 255);
}

.experience {
    font-weight: bold;
    font-size: 1.05em;
}

.pro-experience {
    color: rgb(255, 255, 255);
}

.univ-experience {
    color: rgb(255, 255, 255);
}

/** Compétences **/

.colored-icon .far {
    color: rgb(191, 235, 255);
}

.colored-icon .fas {
    color: rgb(92, 147, 188);
}

#competences ul {
    list-style-type: none;
    padding-left: 0;
}

#competences ul li {
    list-style-type: none;
}

#competences ul li:nth-child(odd) {
    font-weight: bold;
}

/** Passions **/

#hobbies {
    background: rgb(238, 238, 238);
}

#hobbies h3 {
    font-size: 1.20rem;
}

/** Contact **/

#contact {
    background: rgb(209, 185, 17);
}

#contact .heading .border {
    background: rgb(255, 255, 255);
}

#contact {
    color: rgb(255, 255, 255);
}

#contact h3 {
    color: rgb(36, 64, 72);
}

#contact a {
    display: block;
    color: rgb(255, 255, 255);
}

#contact i {
    margin: 4rem 0 1rem;
}

#contact a.email:hover,
#contact a.email:focus {
    color: rgb(92, 147, 188);
}

#contact a.facebook:hover,
#contact a.facebook:focus {
    color: rgb(59, 89, 152)
}

#contact a.pinterest:hover,
#contact a.pinterest:focus {
	color: rgb(189, 8, 28)
}

#contact a.linkedin:hover,
#contact a.linkedin:focus {
    color: rgb(17, 120, 179)
}

#footer {
    padding: 1rem 0;
    color: rgb(204, 204, 204);
    text-align: center;
    background: rgb(0, 0, 0);
}

#footer a,
#footer a:hover,
#footer a:focus {
    color: rgb(255, 255, 255);
}

#footer .copyright {
    margin-bottom: 0;
}

.round {
    border-radius: 50%;
}

/* Venobox */

.vbox-container {
    overflow: hidden;
}


/* Animations */

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/* Responsive style */

@media (min-width: 576px) {
    .page .content.cover {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }
    #portfolio .items li {
        width: 50%;
    }
    #testimonials .quote {
        padding: 0 4rem;
    }
}

@media (min-width: 768px) {
    .page .content.cover {
        margin-top: 8rem;
        margin-bottom: 8rem;
    }
    #portfolio .items li {
        width: 25%;
    }
    #testimonials .quote {
        padding: 0 8rem;
    }
}

@media (min-width: 992px) {
    .page .content.cover {
        margin-top: 10rem;
        margin-bottom: 10rem;
    }
    .navbar-light .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
        font-weight: bold;
        text-transform: uppercase;
    }
    #testimonials .quote {
        padding: 0 12rem;
    }
}
